@import url("../fonts/font-awesome-4.7.0/css/font-awesome.css");
@import url("../fonts/montserrat/montserrat.css");

* {
    font-family: "Montserrat";
}

.dropdown-item:active {
    background-color: #8560a8;
}

body {
    background-color: #f1f1f1;
}

a {
    text-decoration: none;
    color: #8560a8;
}

a:hover {
    color: #573f6e;
    cursor: pointer;
}

nav, .lang {
    color: #fff;
    size: 15px;
}

.navbar {
    background: #000;
    font-family: "Montserrat";
    padding: 0;
    margin: 0;
}

#navbar-main {
    background-color: rgba(0, 0, 0, 0);
    font-family: "Montserrat";
    transition: 0.3s;
}

.nav-link, .navbar-brand {
    color: #f4f4f4;
    cursor: pointer;
}

.navbar-brand {
    margin: 5px 20px;
}

.dropdown-menu {
    border-radius: 0px;
}

.nav-item {
    padding: 5px 10px;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    background: #f4f4f4;
    color: #1c1c1c;
}

.navbar-collapse {
    justify-content: flex-end;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.navbar-toggler {
    background: #fff !important;
}

.header {
    background-image: url('../images/headerback.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.79);
}

.description {
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
}

.description h1 {
    color: #8560a8;
    font-weight: bold;
}

.description p {
    color: #fff;
    font-size: 20px;
    width: 50%;
    line-height: 1.5;
    font-weight: normal;
}

.button {
    border: 2px solid #1c1c1c;
    background: #1c1c1c;
    color: #fff;
    font-family: "Montserrat";
    border-radius: 0;
    display: inline-block;
    padding: 5px;
    transition: 0.3s;
}
.button:hover {
    border: 2px solid #1c1c1c;
    background: #fff;
    color: #1c1c1c;
    font-family: "Montserrat";
    transition: 0.3s;
}

.blog {
    margin: 4em 0;
}

.blog h1 {
    color: #1c1c1c;
    margin: 2em;
}

.blog .card {
    box-shadow: 0 0 20px #ccc;
    height: 100%;
    padding-bottom: 50px;
}

.blog .card img {
    width: 100%;
}

.blog .card-title {
    color: #1c1c1c;
}

.blog .card-body {
    padding: 1em;
}

.card-link {
    color: #8560a8;
}

.card-footer {
    width: 100%;
    position: absolute;
    bottom: 0px;
}

.advant-title {
    font-weight: bold;
    font-size: 20px;
    margin: 15px 0 0 0;
    color: #8560a8;
}

.advant-text {
    font-size: 17px;
}

footer {
    background-color: #333;
    color: white !important;
}

a > i {
    color: #fff;
}

i:hover {
    cursor: pointer;
}

.btn-social {
    display: inline;
    font-size: 20px;
}

form.search-line {
    position: relative;
    width: 90%;
    margin: 0 auto;
}

.d1 input {
    width: 100%;
    height: 42px;
    padding-left: 10px;
    border: 2px solid #1c1c1c;
    outline: none;
    color: #9E9C9C;
}

.d1 button {
    position: absolute;
    top: 0;
    right: 0px;
    width: 42px;
    height: 42px;
    border: none;
    background: #1c1c1c;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.d1 button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #F9F0DA;
}

.course-padding {
    padding-bottom: 50px;
}

.question {
    font-size: 17px;
    display: inline;
    font-weight: bold;
}

.answer {
    font-size: 17px;
    display: inline;
}

.qa-element {
    display: block;
    padding-bottom: 15px;
}

img {
    width: 60%;
}

.adv-image {
    width: 40%;
}

input[type=submit], input[type=button] {
    margin-bottom: 10px;
    width: 30%;
    background: #000;
    color: #fff;
    border: 2px solid #000;
    padding: 10px 10px;
    transition: 0.3s;
}

input[type=submit]:hover, input[type=button]:hover {
    background: #fff;
    color: #000;
    transition: 0.3s;
}

.course-title {
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
    color: #8560a8;
    padding: 0 10px;
}

.course-text {
    font-size: 15px;
    padding: 0px 10px;
}

.course-type {
    margin-bottom: 0;
    padding: 10px;
}

.anket {
    padding-top: 4em;
}

.anket-info {
    margin: 50px 0;
}

.person-card {
    background-color: #fff;
    /*background-image: url('../images/bg.png');*/
    background-repeat: no-repeat;
    background-size: contain;
    padding: 30px 0;
    box-shadow: 0 0 20px #ccc;
}

.course-info {
    background-color: #fff;
    color: #000;
    padding: 40px;
    margin: 50px 0;
}

.error-number {
    font-weight: bold;
    font-size: 80px;
}

.r {
    height: 400px;
}

.inline-button {
    margin: 0 10px;
}

.table-choice {
    display: inline;
    border: 1px solid #000;
    padding: 5px 10px;
    margin: 0;
}

.container {
    width: 100%;
}

table {
    padding-top: 35px;
    text-align: center;
}

.trickery > input {
    display: none;
}

.tabs > label {
    display: inline-block;
    border: 1px solid #8560a8;
    padding: 10px 15px;
    margin: 0 -2px 10px;
}

.student-table-change {
    display: none;
    background-color: #fff;
    overflow-x: auto;
}

.student-table {
    width: 85%;
    margin-bottom: 40px;
}

#tab-1:checked ~ .tabs [for=tab-1],
#tab-2:checked ~ .tabs [for=tab-2],
#tab-3:checked ~ .tabs [for=tab-3] {
    background-color: #8560a8;
    color: #fff;
}

[value=content-1]:checked ~ .container-fluid #content-1,
[value=content-2]:checked ~ .container-fluid #content-2,
[value=content-3]:checked ~ .container-fluid #content-3 {
    display: block;
}

.table-student {
    min-width: 300px;
}
.table-student-number {
    min-width: 100px;
}
.admin-left-panel {
    background-color: #000;
    color: #fff;
    padding: 5em 10px;
}

.admin-title {
    margin: 20px 0;
}

.admin-title > h1 {
    display: inline;
}

.admin-title > input[type=button] {
    display: inline;
    padding: 5px;
    margin-left: 5px;
    width: auto;
    font-size: 17px;
}

.admin-title > form {
    display: inline;
    width: 50%;
    float: right;
}

.admin-button {
    width: auto !important;
    padding: 5px !important;
}

.empty-collection {
    padding: 40px 0;
}

.error-text {
    color: #FF0000;
}

.form-control {
    width: 20%;
}

.admin-panel-button, .admin-panel-active {
    padding: 10px;
}

.admin-panel-button:hover {
    cursor: pointer;
    background: #dbd0ff;
}

.admin-panel-active {
    background: #8560a8;
}