@import url("../fonts/font-awesome-4.7.0/css/font-awesome.css");
@import url("../fonts/montserrat/montserrat.css");

* {
    font-family: "Montserrat";
    padding: 0;
    margin: 0;
}

form {
    width: 100%;
}

label, input, select, textarea {
    display: block;
    width: 100%;
}

.selected-column {
    width: 40%;
    display: inline;
}

.form-element {
    padding-bottom: 20px;
}

.form-name {
    font-size: 30px;
    padding-bottom: 20px;
    text-align: center;
}

input[type=submit], input[type=button] {
    margin-bottom: 10px;
    width: 30%;
}

.button {
    border: 2px solid #1c1c1c;
    background: #1c1c1c;
    color: #fff;
    font-family: "Montserrat";
    border-radius: 0;
    transition: 0.3s;
    padding: 5px 10px;
}

.button:hover {
    border: 2px solid #1c1c1c;
    background: #fff;
    color: #1c1c1c;
    font-family: "Montserrat";
    transition: 0.3s;
}

.error-text{
    color: red;
}